.assignmentView-container {
   background-color: lavender;
   margin: 64px;
   padding: 16px;
}

.assignmentView-title {
    padding: 8px;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
}

.assignmentView-descr {
    padding: 8px;
    font-family: Arial;
    font-size: 16px;
}

.assignmentView-link {
    padding: 8px;
    font-family: Arial;
    font-size: 16px;
}

.assignmentView-grade {
    padding: 8px;
    font-family: Arial;
    font-size: 16px;
}

.assignmentView-button {
    font-family: Arial;
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    margin: 4px;
}

